.done-style {
    border: "1px solid";
    width: "300px";
    padding: "5px";
    margin: "5px";
    text-align: "center";
    text-decoration: "line-through"
}

.todo-item {
    border: "1px solid";
    width: "300px";
    padding: "5px";
    margin: "5px";
    text-align: "center";
}

.button {
    float: right;
}